.container-fluid
  .row
    .col-md-12
      = if @changeset.action do
        .alert.alert-danger
          p Oops, something went wrong! Please check the errors below.
      .box.box-info
        = render "form.html", changeset: @changeset, resource: @resource, action: ExAdmin.Utils.admin_resource_path(@resource, :update), ex_admin: @conn.assigns[:ex_admin] || %{}
