elixir:
  {action, name, path} = @link
  {i_class, class} = case action do
    :new -> {"fa fa-plus-square", ""}
    :edit -> {"fa fa-edit", ""}
    :delete -> {"fa fa-minus-square", "delete-link"}
    _ -> ""
  end
li
  = link to: path, class: class do
    i class="#{i_class}"
    span = name
