
.index-actions button.action-edit,
.index-actions button.action-delete {
  margin-left: 2px;
}

.help-block {
  color: #dd4b39 !important;
  font-weight: 600;
}
table.index_table th.sortable a {
  background: url("/images/talon/<%= target_name %>/orderable.png") no-repeat 0 4px;
  padding-left: 13px;
}
table.index_table th.sorted-asc a {
  background-position: 0 -27px;
}
table.index_table th.sorted-desc a {
  background-position: 0 -56px;
}
table.index_table th.selectable {
  width: 25px;
}
table.index_table td.actions {
  width: 90px;
}
